{% extends "home_app/masterPage.html"%}

{%block body%}
{% load static %}
        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="{%static 'home_app/img/foodAbout1.jpg'%}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="{%static 'home_app/img/foodAbout2.jpg'%}" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="{%static 'home_app/img/foodAbout3.jpg'%}">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="{%static 'home_app/img/foodAbout4.jpg'%}">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6" dir="rtl">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal" id="setFont">کمی از ما بدانید!</h5>
                        <h1 class="mb-4" id="setFont">به غذا سرای چاشنی <i class="fa fa-utensils text-primary me-2"></i>خوش آمدید</h1>
                        
                        <p class="mb-4" id="setFont" style="font-size: medium;">
                            غذاسرای چاشنی، یک غذا سرای محبوب با مدیریت بهروز بیاتی است که بیش از ده سال سابقه در این زمینه دارد. این غذا سرا با تأکید بر ارائه غذاهای با کیفیت و خوشمزه، جایگاه بسیار محبوبی در بین مردم و دوستداران خوراکی‌های خوشمزه کسب کرده است.
                            <br>
                            ۱. منوی چاشنی: غذاسرای چاشنی با تنوع بالایی از غذاها و منوهای متنوعی که ارائه می‌دهد، برای همه سلیقه‌ها و دلایل مختلف مناسب است. اینجا شما می‌توانید غذاهای ایرانی سنتی متنوعی را تجربه کنید. منوی غذاسرای چاشنی شامل غذاهایی مانند کباب، خورشت‌ها، خوراک های خوشمزه است.
                            <br>
                            ۲. کیفیت و مرغوبیت: یکی از ویژگی‌های برجسته غذاسرای چاشنی، کیفیت بالا و مرغوبیت غذاهایی است که ارائه می‌دهد. با استفاده از بهترین مواد اولیه و تکنیک‌های آشپزی حرفه‌ای، غذاسرای چاشنی تلاش می‌کند تا تجربه‌ای منحصر به فرد و لذت‌بخش را برای مشتریان خود فراهم کند.
                            <br>
                            ۳. تجربه و سابقه: با بیش از ده سال سابقه در این زمینه، بهروز بیاتی مدیریت این رستوران را بر عهده دارد. تجربه و تخصص او در زمینه مدیریت رستوران و آشپزی، می‌تواند تضمین کننده‌ی ارائه خدمات با کیفیت و برتر باشد. این سابقه نشان از پایداری و موفقیت رستوران چاشنی در طول سال‌ها است.
                            
                            
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Team Start -->
        <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s" >
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal" id="setFont">تیم ما</h5>
                    <h1 class="mb-5" id="setFont" style="text-align: center;">ادمین های سایت</h1>
                </div>
                <div class="row g-4" id="setFont">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="{% static 'home_app/img/admin_ashkan.jpg'%}" alt="">
                            </div>
                            <h5 class="mb-0" id="setFont" style="text-align: center;">اشکان پورعبدالله</h5>
                            <small>ادمین و توسعه دهده ی وبسایت</small>
                            <div class="d-flex justify-content-center mt-3">
                                <h6 style="margin-top: 10px;">ashkan.pourabdollah@</h6>
                                <a class="btn btn-square btn-primary mx-1" href="https://instagram.com/ashkan.pourabdollah?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="{% static 'home_app/img/team-4.jpg'%}" alt="">
                            </div>
                            <h5 class="mb-0" id="setFont" style="text-align: center;">بهروز بیاتی</h5>
                            <small>ادمین و آشپز</small>
                            <div class="d-flex justify-content-center mt-3">
                                <h6 style="margin-top: 10px;">behrouz.1401@</h6>
                                <a class="btn btn-square btn-primary mx-1" href="https://instagram.com/behrouz.1401?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
{%endblock%}

{%block pageList%}
<!-- Select the active page-->
    <a href="/" class="nav-item nav-link">خانه</a>
    <a href="/about/" class="nav-item nav-link active">درباره ی ما</a>
    <a href="/contact/" class="nav-item nav-link">تماس با ما</a>
    <a href="/menu/" class="nav-item nav-link">منو غذا</a>
    <a href="/comments/" class="nav-item nav-link">نظرات کاربران</a>
{%endblock%}


{%block title%}
کمی بیشتر درباره ی ما بدانید!
{%endblock%}

{%block titlePage%}
درباره ی ما
{%endblock%}