{% extends "home_app/masterPage.html"%}
{% block body%}
{% load static %}
        <!-- Testimonial Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" dir="ltr">
            <div class="container">
                <div class="text-center">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal" style="font-family: lalezar;">نظرات</h5>
                    <h1 class="mb-5" dir="rtl" style="font-family: lalezar;">مشتریان ما گفته اند!!!</h1>
                </div>
                <div class="owl-carousel testimonial-carousel">

                    {%for comment in comments%}
                    {%if comment.showing == True%}
                    <div class="testimonial-item bg-transparent border rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p id="setFont">{{comment.commentText}}</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{%static 'home_app/img/person.png'%}" style="width: 50px; height: 50px;">
                            <div class="ps-3" dir="rtl">
                                <h5 class="mb-1" id="setFont">{{comment.personName}}</h5>
                                <small id="setFont">درباره ی : {{comment.category}}</small>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    {%endfor%}

                </div>


            </div>
        </div>
        <!-- Testimonial End -->
{%endblock%}

{%block pageList%}
<!-- Select the active page-->
    <a href="/" class="nav-item nav-link">خانه</a>
    <a href="/about/" class="nav-item nav-link">درباره ی ما</a>
    <a href="/contact/" class="nav-item nav-link">تماس با ما</a>
    <a href="/menu/" class="nav-item nav-link">منو غذا</a>
    <a href="/comments/" class="nav-item nav-link active">نظرات کاربران</a>
{%endblock%}


{%block title%}
نظرات کاربران
{%endblock%}

{%block titlePage%}
نظرات کاربران
{%endblock%}