{%extends "home_app/masterPage.html"%}
{%block body%}


<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s" >
            <h5 class="section-title ff-secondary text-center text-primary fw-normal" id="setFont">با ما تماس بگیرید!</h5>
            <h1 class="mb-5" style="font-family: lalezar;">لطفاً برای دریافت اطلاعات بیشتر یا رزرو غذا، با ما تماس بگیرید</h1>
        </div>

        
        <div class="row g-4">
            
            <div class="col-12">
                <div class="row gy-6">
                    <div class="col-md-6">
                        <h5 class="section-title ff-secondary fw-normal text-start text-primary" style="font-family: lalezar;">تلفن</h5>
                        <p style="font-family: lalezar;"><i></i>09138885517</p>
                    </div>
                    <div class="col-md-6">
                        <h5 class="section-title ff-secondary fw-normal text-start text-primary" style="font-family: lalezar;">اینستاگرام</h5>
                        <p style="font-family: lalezar;" dir="rtl"><i></i>behrouz.1401@</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                <iframe class="position-relative rounded w-100 h-100"
                src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d13480.181874031718!2d50.78297491692501!3d32.36432578121069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzLCsDIxJzUxLjUiTiA1MMKwNDgnMDUuMSJF!5e0!3m2!1sen!2sus!4v1692469582151!5m2!1sen!2sus" 
                frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>


            <div class="col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <form method="get">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating" >
                                    <input type="text" class="form-control" id="name" placeholder="Your Name" name="name_about">
                                    <label for="name" id="setFont">نام و نام خانوادگی</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="tel" class="form-control" id="phone" placeholder="Your Phone" name="phone_about">
                                    <label for="phone" id="setFont">تلفن</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject_about">
                                    <label for="subject" id="setFont">موضوع</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px" name="message_about"></textarea>
                                    <label for="message" id="setFont">پیام ...</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <input class="btn btn-primary w-100 py-3" type="submit" style="font-family: lalezar;" value="ارسال پیام" name="done_about"> 
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            


            
        </div>
    </div>
</div>
<!-- Contact End -->
{%endblock%}

{%block pageList%}
<!-- Select the active page-->
    <a href="/" class="nav-item nav-link">خانه</a>
    <a href="/about/" class="nav-item nav-link">درباره ی ما</a>
    <a href="/contact/" class="nav-item nav-link active">تماس با ما</a>
    <a href="/menu/" class="nav-item nav-link">منو غذا</a>
    <a href="/comments/" class="nav-item nav-link">نظرات کاربران</a>
{%endblock%}

{%block title%}
تماس با ما
{%endblock%}

{%block titlePage%}
تماس با ما
{%endblock%}