<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>غذا سرای چاشنی</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'home_app/img/favicon.ico'%}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'home_app/lib/animate/animate.min.css'%}" rel="stylesheet">
    <link href="{% static 'home_app/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'home_app/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css'%}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'home_app/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'home_app/css/style.css'%}" rel="stylesheet">

    <!-- Font-->
    <style>
        #setFont{
            font-family: lalezar;
            text-align: right;
        }
    </style>

    <!--sign in message-->
    <script>
        function signinMessage(){
            alert("با عرض پوزش ، در حال حاظر ثبت نام در امکان پذیر نمیباشد.")
        }
    </script>
    
</head>

<body dir="rtl">
    <div class="container-xxl bg-white p-0" id="setFont">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0" >
                <a href="" class="navbar-brand p-0">
                    <h1 class="text-primary m-0" id="setFont"><i class="fa fa-utensils me-3"></i>غذا سرای چاشنی</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">
                        <a href="" class="nav-item nav-link active">خانه</a>
                        <a href="about" class="nav-item nav-link">درباره ی ما</a>
                        <a href="contact" class="nav-item nav-link">تماس با ما</a>
                        <a href="menu" class="nav-item nav-link">منو غذا</a>
                        <a href="/comments" class="nav-item nav-link">نظرات کاربران</a>
                        
                    </div>
                    <a href="" class="btn btn-primary py-2 px-4" id="setFont" onclick="signinMessage()">ورود/ثبت نام</a>
                </div>
            </nav>

            <div class="container-xxl py-5 bg-dark hero-header mb-5" >
                <div class="container my-5 py-5">
                    <div class="row align-items-center g-5">
                        <div class="col-lg-6 text-center text-lg-start" dir="rtl">
                            <h1 class="display-3 text-white animated slideInLeft" id="setFont" style="text-align: center;">از غذا ها<br>لذت ببرید !</h1>
                            <p class="text-white animated slideInLeft mb-4 pb-2" id="setFont" >
                                غذا سرای چاشنی به عنوان یکی از بهترین رستوران های شهر شناخته شده است و با ارائه ی غذا های خوشمزه و با کیفیتی که با استفاده از بهترین مواد اولیه تهیه میشوند، محبوبیت بالایی بین مشتری های خود دارد.
                            </p>
                            <div style="float: right;">
                            <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft" id="setFont" onclick="signinMessage()">ورود / ثبت نام</a>
                        </div>
                        </div>
                        <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                            <img class="img-fluid" src="{%static 'home_app/img/hero.png'%}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="{% static 'home_app/img/foodAbout1.jpg'%}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="{% static 'home_app/img/foodAbout2.jpg'%}" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="{% static 'home_app/img/foodAbout3.jpg'%}">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="{% static 'home_app/img/foodAbout4.jpg'%}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" dir="rtl">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal" id="setFont">کمی از ما بدانید!</h5>
                        <h1 class="mb-4" id="setFont">به غذا سرای چاشنی <i class="fa fa-utensils text-primary me-2"></i>خوش آمدید</h1>
                        <p class="mb-4" id="setFont">
                            غذا سرای چاشنی یکی از بهترین غذا سرا های استان است که منوی این غذا سرا شامل انواع 
                            غذا های ایرانی مانند کباب ها و خورش ها و چلو ها است.این غذا سرا با ارائه ی محصولات تازه و با کیفیت، محبوبیت 
                            بالایی در بین مشتریان خود دارد و اگر به دنبال تجربه ی غذا های بینظیر هستید،غذا سرای چاشنی میتواند انتخاب خوبی باشد .
                        </p>
                        <p class="mb-4">
                             مدیر این غذا سرا آقای بهروز بیاتی است که بیش از ده سال سابقه آشپزی و همکاری با غذا سرا های استان را دارد .
                        </p>
                        <div style="float: right;">
                            <a id="setFont" class="btn btn-primary py-3 px-5 mt-2" href="about">بیشتر بخوانید ...</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <hr>

        <!-- Menu Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 id="setFont" class="section-title ff-secondary text-center text-primary fw-normal">لیست غذا ها</h5>
                    <h1 class="mb-5" id="setFont" style="text-align: center;">غذا های امروز</h1>
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                                <i class="fa fa-utensils fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">خوراک ها</small>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                                <i class="fa fa-utensils fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">چلو ها</small>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                                <i class="fa fa-utensils fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">خورش ها</small>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">


                                {% for food in khorak%}
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="{% static 'home_app/img/'%}{{food.foodImage}}" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span id="setFont" style="padding-right: 15px;">{{food.foodName}}</span>
                                                <span class="text-primary" id="setFont">{{food.foodPrice}} تومان</span>
                                            </h5>
                                            <small class="fst-italic">در دسته بندی خوراک ها</small>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}


                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row g-4">

                                {%for food in chelo%}
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="{% static 'home_app/img/'%}{{food.foodImage}}" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span id="setFont" style="padding-right: 15px;">{{food.foodName}}</span>
                                                <span class="text-primary" id="setFont">{{food.foodPrice}} تومان</span>
                                            </h5>
                                            <small class="fst-italic">در دسته بندی چلو ها</small>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}

                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane fade show p-0">
                            <div class="row g-4">

                                {%for food in khoresh%}
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="{% static 'home_app/img/'%}{{food.foodImage}}" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span id="setFont" style="padding-right: 15px;">{{food.foodName}}</span>
                                                <span class="text-primary" id="setFont">{{food.foodPrice}} تومان</span>
                                            </h5>
                                            <small class="fst-italic">در دسته بندی خورش ها</small>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->


        <!-- Reservation Start -->
        <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="{% static 'home_app/img/signinMain.jpeg'%}" width=100%>
                </div>
                <div class="col-md-6 bg-dark d-flex align-items-center">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal" id="setFont">ثبت نام</h5>
                        <h1 class="text-white mb-4" id="setFont">فرم ثبت نام</h1>
                        <form dir="rtl">
                            <div class="row g-3" >
                                <div class="col-md-6" >
                                    <div class="form-floating"  style="text-align: right;">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        <label for="name" >نام و نام خانوادگی</label>
                                        
                                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="phone" class="form-control" id="email" placeholder="Your Phone">
                                        <label for="phone">تلفن</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <input type="password" class="form-control datetimepicker-input" id="datetime" placeholder="password" />
                                        <label for="password">گذرواژه</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <input type="password" class="form-control datetimepicker-input" id="datetime" placeholder="password" />
                                        <label for="passwordConfirm">تکرار گذرواژه</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit" id="setFont" style="text-align: center;" onclick="signinMessage()">ثبت نام</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Reservation Start -->


        <!-- Team Start -->
        <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s" >
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal" id="setFont">تیم ما</h5>
                    <h1 class="mb-5" id="setFont" style="text-align: center;">ادمین های سایت</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="{% static 'home_app/img/admin_ashkan.jpg'%}" alt="">
                            </div>
                            <h5 class="mb-0" id="setFont" style="text-align: center;">اشکان پورعبدالله</h5>
                            <small>ادمین و توسعه دهده ی وبسایت</small>
                            <div class="d-flex justify-content-center mt-3" dir="rtl">
                                <h6 style="margin-top: 10px;">ashkan.pourabdollah@</h6>
                                <a class="btn btn-square btn-primary mx-1" href="https://instagram.com/ashkan.pourabdollah?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="{% static 'home_app/img/team-4.jpg'%}" alt="">
                            </div>
                            <h5 class="mb-0" id="setFont" style="text-align: center;">بهروز بیاتی</h5>
                            <small>ادمین و آشپز</small>
                            <div class="d-flex justify-content-center mt-3">
                                <h6 style="margin-top: 10px;">behrouz.1401@</h6>
                                <a class="btn btn-square btn-primary mx-1" href="https://instagram.com/behrouz.1401?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->

        
        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s" dir="rtl">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6" dir="rtl">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4" id="setFont">غذا سرا</h4>
                        <a id="setFont" class="btn btn-link" href="/about">درباره ی ما</a>
                        <a id="setFont" class="btn btn-link" href="/contact">تماس با ما</a>
                        <a id="setFont" class="btn btn-link" href="" onclick="signinMessage()">ثبت نام</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4" id="setFont">تماس</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>اشکفتک-بلوار رهبر-خیابان بهاران-نبش کوچه 5 </p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 09138885517</p>
                        
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4" id="setFont">ساعت کاری</h4>
                        <h5 class="text-light fw-normal" id="setFont">هر روز هفته</h5>
                        <p>9 صبح تا 9 شب</p>
                    </div>
                    
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">غذا سرای چاشنی</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'home_app/lib/wow/wow.min.js'%}"></script>
    <script src="{% static 'home_app/lib/easing/easing.min.js'%}"></script>
    <script src="{% static 'home_app/lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{% static 'home_app/lib/counterup/counterup.min.js'%}"></script>
    <script src="{% static 'home_app/lib/owlcarousel/owl.carousel.min.js'%}"></script>
    <script src="{% static 'home_app/lib/tempusdominus/js/moment.min.js'%}"></script>
    <script src="{% static 'home_app/lib/tempusdominus/js/moment-timezone.min.js'%}"></script>
    <script src="{% static 'home_app/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'home_app/js/main.js'%}"></script>
</body>

</html>