{% extends "home_app/masterPage.html"%}

{%block body%}
{%load static%}
        <!-- Menu Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 id="setFont" class="section-title ff-secondary text-center text-primary fw-normal">لیست غذا ها</h5>
                    <h1 class="mb-5" id="setFont" style="text-align: center;">غذا های امروز</h1>
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5" id="setFont">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                                <i class="fa fa-utensils fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">خوراک ها</small>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                                <i class="fa fa-utensils fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">چلو ها</small>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                                <i class="fa fa-utensils fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">خورش ها</small>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">


                                {% for food in khorak%}
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center" id="setFont">
                                        <img class="flex-shrink-0 img-fluid rounded" src="{{food.foodImage.url}}" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <a href="{{food.foodName}}/"><span id="setFont" style="padding-right: 15px;">{{food.foodName}}</span></a>
                                                <span class="text-primary" id="setFont">{{food.foodPrice}} تومان</span>
                                            </h5>
                                            <small class="fst-italic">در دسته بندی خوراک ها</small>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}


                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row g-4">

                                {%for food in chelo%}
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center" id="setFont">
                                        <img class="flex-shrink-0 img-fluid rounded" src="{{food.foodImage.url}}" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <a href="{{food.foodName}}/"><span id="setFont" style="padding-right: 15px;">{{food.foodName}}</span></a>
                                                <span class="text-primary" id="setFont">{{food.foodPrice}} تومان</span>
                                            </h5>
                                            <small class="fst-italic">در دسته بندی چلو ها</small>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}

                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane fade show p-0">
                            <div class="row g-4">

                                {%for food in khoresh%}
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center" id="setFont">
                                        <img class="flex-shrink-0 img-fluid rounded" src="{{food.foodImage.url}}" alt="" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <a href="{{food.foodName}}/"><span id="setFont" style="padding-right: 15px;">{{food.foodName}}</span></a>
                                                <span class="text-primary" id="setFont">{{food.foodPrice}} تومان</span>
                                            </h5>
                                            <small class="fst-italic">در دسته بندی خورش ها</small>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
{%endblock%}


{%block pageList%}
<!-- Select the active page-->
    <a href="/" class="nav-item nav-link">خانه</a>
    <a href="/about/" class="nav-item nav-link">درباره ی ما</a>
    <a href="/contact/" class="nav-item nav-link">تماس با ما</a>
    <a href="/menu/" class="nav-item nav-link active">منو غذا</a>
    <a href="/comments/" class="nav-item nav-link">نظرات کاربران</a>
{%endblock%}


{%block title%}
لیست غذا ها
{%endblock%}

{%block titlePage%}
منو غذا ها
{%endblock%}